.room {
    display: inline-block;
    /* height: auto;
    width: 250px; */
    background-color: lightgray;
    border-radius: 2%;
    border: 1px solid lawngreen;
    margin: 10px;
    text-align: center;
}

.room:active {
    background-color: lightgreen;
}

.room:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.room > img{

    height: 50px;
    margin: 15px;
    width: auto;
}
